# Python
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
build/
dist/
*.egg-info/
*.spec

# PyInstaller
*.exe
*.manifest
*.spec

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
